@import "src/_variables.scss";
// .selected {
//   background-color: $primary;
// }


mat-toolbar {
    background-color: $primary;
}

.toolbar-spacer {
    flex: 1 1 auto;
}
  
.toolbar-icon {
    left: 20%;
}

.show-list{
    color: white;
    margin: 10px;
}