<span><h1 class="site-title">Bodacious Brew</h1></span>
<app-navbar></app-navbar>
<div class="row">
<div class='col-md-3'>
<mat-card id="main-body">
  <mat-card-header>
    <h3>
      Welcome to most Bodacious Site on the web!
    </h3>
  </mat-card-header>
<mat-card-content>
  <p>
    Greetings Earthlings! Control+Z here to announce that our site
    is officially up and running! RoRo is *REALLY* excited to show this off 
    to you listeners.
  </p>
  <p>
    Here you can find links to all Bodacious Brew content such as the totally
    radical Bodacious Brew Broadcast, or
    trippy existential Robotic Radio!
  </p>
  <p>
    <br>
    -Control+Z {{'<'}}3
  </p>
</mat-card-content>
<mat-card-footer>
</mat-card-footer>
</mat-card>
</div>
<div class="col-md-6"></div>
<div class="col-md-3">
  <mat-card>
    <mat-card-header>
      <h3>
        Our Twitter OwO
      </h3>
    </mat-card-header>
    <!-- <mat-card-content>   -->
      <div>
        <a class="twitter-timeline" href="https://twitter.com/BodaciousBrew?ref_src=twsrc%5Etfw">Tweets by BodaciousBrew</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    <!-- </mat-card-content> -->
      </div>
  </mat-card>
</div>
</div>
<mat-card style="width: 35vw; height: auto; margin-bottom: 1em; bottom: 0; left:0; position: fixed">
    <iframe src="https://open.spotify.com/embed-podcast/episode/3MAWlf97SkZHoxV68qpHS8" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</mat-card>